<form action="/results" method="POST">

    <!-- begin -->
    <fieldset class="show">
        <legend>
            <h3><%- personal.description%></h3>
        </legend>
        <p>Om te beginnen met SO NUTS, is het nodig om een aantal vragen te beantwoorden zodat wij gepaste hulp kunnen
            aanbieden.</p>
        <label for="name">Naam</label>
        <input type="text" name="name" placeholder="Uw naam hier" id="name">
    </fieldset>
    <!-- persoonsgegevens-->
    <fieldset id="form_personal">
        <legend>
            <h3><%- personal.description%></h3>
        </legend>
        <label for="<%- personal.questions[7].id %>"><%- personal.questions[7].text %></label>
        <input type="text" name="<%- personal.questions[7].id %>" placeholder="Nederland">
        <label for="<%- personal.questions[12].id %>"><%- personal.questions[12].text %></label>
        <input type="text" name="<%- personal.questions[12].id %>" placeholder="Nederland">
        <label for="<%- personal.questions[4].id %>"><%- personal.questions[4].text %></label>
        <input type="text" name="<%- personal.questions[4].id %>" placeholder="Nederland">
        <h3><%- personal.questions[6].text %></h3>

        <select>
            <% for(let i = 0; i < personal.questions[6].answerOptions.length; i++) { %>
            <option value="" id="<%- personal.questions[6].answerOptions[i].id %>">
                <%- personal.questions[6].answerOptions[i].text %>
            </option>
            <% } %>
        </select>

    </fieldset>
    <!-- arbeids positie-->
    <fieldset id="form_arbeidspositie">
        <legend>
            <h3><%- personal.description%></h3>
        </legend>
        <label for="<%- personal.questions[2].id %>"><%- personal.questions[2].text %></label>
        <% for(let i = 0; i < personal.questions[2].answerOptions.length; i++) { %>
        <div>
            <input type="radio" name="<%- personal.questions[2].id %>"
                value="<%- personal.questions[2].answerOptions[i].text %>">
            <label for="<%- personal.questions[2].id %>"><%- personal.questions[2].answerOptions[i].text %></label>
        </div>
        <% } %>


        <label id="<%- personal.questions[8].text %>"><%- personal.questions[8].text %></label>
        <select>
            <% for(let i = 0; i < personal.questions[8].answerOptions.length; i++) { %>
            <option value="<%- personal.questions[8].answerOptions[i].text %>"
                id="<%- personal.questions[8].answerOptions[i].id %>">
                <%- personal.questions[8].answerOptions[i].text %>
            </option>
            <% } %>
        </select>

        <label id="<%- personal.questions[10].text %>"><%- personal.questions[10].text %></label>
        <select>
            <% for(let i = 0; i < personal.questions[10].answerOptions.length; i++) { %>
            <option value="<%- personal.questions[10].text %>" id="<%- personal.questions[10].answerOptions[i].id %>">
                <%- personal.questions[10].answerOptions[i].text %>
            </option>
            <% } %>
        </select>

    </fieldset>

    <!-- BMI gegevens -->
    <fieldset id="form_bmi">
        <legend>
            <h3><%- personal.description%></h3>
        </legend>
        <label for="<%- personal.questions[13].id %>"><%- personal.questions[13].text %></label>
        <input type="number" name="<%- personal.questions[13].id %>" placeholder="56">

        <label for="<%- personal.questions[11].id %>"><%- personal.questions[11].text %></label>

        <% for(let i = 0; i < personal.questions[11].answerOptions.length; i++) { %>
        <div>
            <input type="radio" name="<%- personal.questions[11].id %>"
                value="<%- personal.questions[11].answerOptions[i].text %>">
            <label for="<%- personal.questions[11].id %>"><%- personal.questions[11].answerOptions[i].text %></label>
        </div>
        <% } %>

        <label for="<%- personal.questions[9].id %>"><%- personal.questions[9].text %>
            <span><%- personal.questions[9].description %></span></label>
        <input type="number" name="<%- personal.questions[9].id %>" placeholder="87">

        <label for="<%- personal.questions[5].id %>"><%- personal.questions[5].text %>
            <span><%- personal.questions[5].description %></span></label>
        <input type="number" name="<%- personal.questions[5].id %>" placeholder="185">

    </fieldset>

    <!-- Vragen beweging -->
    <fieldset id="form_beweging">
        <legend>
            <h3><%- beweging.description %></h3>
        </legend>
        <label for="<%- beweging.questions[0].id %>"><%- beweging.questions[0].text %></label>
        <input type="number" id="<%- beweging.questions[0].id %>" placeholder="24">

        <label for="<%- beweging.questions[1].id %>"><%- beweging.questions[1].text %></label>
        <% for(let i = 0; i < beweging.questions[1].answerOptions.length; i++) { %>
        <div>
            <input type="radio" name="<%- beweging.questions[1].id %>"
                value="<%- beweging.questions[1].answerOptions[i].text %>">
            <label for="<%- beweging.questions[1].id %>"><%- beweging.questions[1].answerOptions[i].text %></label>
        </div>
        <% } %>

        <label for="<%- beweging.questions[2].id %>"><%- beweging.questions[2].text %></label>
        <input type="number" id="<%- beweging.questions[2].id %>" placeholder="12">

        <label for="<%- beweging.questions[3].id %>"><%- beweging.questions[3].text %></label>
        <input type="number" id="<%- beweging.questions[3].id %>" placeholder="4">
    </fieldset>


    <!-- Vragen voeding -->
    <fieldset id="form_beweging">
        <legend>
            <h3><%- voeding.description %></h3>
        </legend>
        <label for="<%- voeding.questions[0].id %>"><%- voeding.questions[0].text %></label>
        <select>
            <% for(let i = 0; i < voeding.questions[0].answerOptions.length; i++) { %>
            <option value="<%- voeding.questions[0].text %>" id="<%- voeding.questions[0].answerOptions[i].id %>">
                <%- voeding.questions[0].answerOptions[i].text %>
            </option>

            <% } %>
        </select>

    </fieldset>


    <button type="submit" class="form-submit">Afronden</button>
    <button class="btn-next hide" type="button">Volgende</button>
</form>