<%- include('../partials/head.ejs') %>
<main class="add_training">
    <h2>Beweging</h2>
    <h3>Wat voor soort activiteit wil u toevoegen?</h3>
    <div>
        <button id="cardio">Cardio</button>
        <button id="kracht">Kracht</button>
    </div>
    <%- include('../partials/form_cardio.ejs') %>
    <%- include('../partials/form_kracht.ejs') %>
    <%- include('../partials/nav.ejs') %>
</main>


<%- include('../partials/footer.ejs') %>