<%- include('../partials/head.ejs') %>

<main class="progressie">
    <h2>progressie</h2>
    <header>
        <div class="container">
            <div>
                <i class="fa-solid fa-utensils fa-xl"></i>
                <p>Je hebt afgelopen week meer groente gegeten. Ga zo door!</p>
            </div>
        </div>


    </header>

    <section class="doelen">
        <h3>Doelen</h3>
        <div class="container">
            <i class="fa-solid fa-carrot fa-xl"></i>
            <p>Eet elke dag 200 gram groentes.</p>
            <%- include('../partials/checkmark.ejs') %>
        </div>
        <div class="container">
            <i class="fa solid fa-person-walking fa-xl"></i>
            <p>Doe minimaal twee keer per week aan krachttraining.</p>
            <%- include('../partials/checkmark.ejs') %>
        </div>
    </section>
    <section>
        <h3>Tips</h3>
        <div class="wrapper">


            <div class="container">
                <section>
                    <i class="fa solid fa-person-walking fa-xl"></i>
                    <h3>Moeite met meer bewegen?</h3>
                </section>
                <p>Wanneer u het lastig vindt om meer te bewegen, begin dan klein.</p>
                <ul>
                    <li>Ga ergens lopend of fietsend heen.</li>
                    <li>Neem de trap i.p.v. de lift of roltrap.</li>
                </ul>
            </div>
            <div class="container">
                <section>
                    <i class="fa solid fa-person-walking fa-xl"></i>
                    <h3>Moeite met meer bewegen?</h3>
                </section>
                <p>Wanneer u het lastig vindt om meer te bewegen, begin dan klein.</p>
                <ul>
                    <li>Ga ergens lopend of fietsend heen.</li>
                    <li>Neem de trap i.p.v. de lift of roltrap.</li>
                </ul>
            </div>
    </section>
    <!-- <button class="btn-secondary add-btn">Voeg gegevens toe</button> -->

    <%- include('../partials/nav.ejs') %>
</main>


<%- include('../partials/footer.ejs') %>