<%- include('../partials/head.ejs') %>
<main class="results">
    <h2>Resultaten</h2>
    <p>Hieronder zijn de resultaten van het intake formulier.</p>
    <p>Kies maximaal drie onderwerpen waar u aan wil werken.</p>
    <section class="wrapper">

        <% for(let i=0; i < voeding.length; i++){ %>
        <div class="results-voeding">
            <input type="checkbox" name="voeding">
            <label for="voeding" name="voeding">
                <section>
                    <i class="fa-solid fa-utensils"></i>
                    <h3><%- voeding[i].type %></h3>
                </section>
                <p><%- voeding[i].text %></p>
            </label>
        </div>

        <% } %>

        <% for(let i=0; i < beweging.length; i++){ %>
        <div class="results-beweging">
            <input type="checkbox" name="beweging">
            <label for="beweging" name="beweging">
                <section>
                    <i class="fa solid fa-person-walking"></i>
                    <h3><%- beweging[i].type %></h3>
                </section>
                <p><%- beweging[i].text %></p>
            </label>
        </div>

        <% } %>



    </section>
    <a href="/dashboard">Verder</a>
</main>

<%- include('../partials/footer.ejs') %>