<%- include('../partials/head.ejs') %>
<main class="training">
    <h2>Beweging</h2>
    <div>
        <article>
            <i class="fa solid fa-person-walking fa-xl"></i>
            <p>Jouw doel is om minimaal twee keer per week aan krachttraining te doen.</p>
        </article>
    </div>

    <div class="container">
        <section>
            <h3>Wekelijkse actieve minuten</h3>
        </section>
        <% let totalMin = cardioData + krachtData %>
        <% if(cardioData && krachtData) { %>
        <p><span id="totalMin">
                <%= totalMin %>
            </span>/150</p>
            <% } else { %>
                <p><span id="totalMin">
                        0
                    </span>/150</p>
                    <% } %>
    </div>
    <div class="wrapper">

        <div class="container-s">
            <section>
                <h3>Cardio</h3>
            </section>

            <%   if(cardioData) { %>
            <p><span class="cardioValue"><%= cardioData %>:00 </span> minuten</p>
            <% } else { %>
            <p><span class="cardioValue">0:00 </span> minuten</p>
            <% } %>
        </div>

        <div class="container-s">
            <section>
                <h3>Kracht</h3>
            </section>
            <%   if(krachtData) { %>
            <p><span class="cardioValue"><%= krachtData %>:00 </span> minuten</p>
            <% } else { %>
            <p><span class="cardioValue">0:00 </span> minuten</p>
            <% } %>

        </div>
        <div class="container-s">
            <section>
                <h3>Dagelijkse stappen</h3>
            </section>
            <p><span>4300</span>/10000</p>
        </div>
    </div>
    <button class="btn-secondary" id="add-training-btn">Voeg gegevens toe</button>
    <div class="btn_wrapper">
        <div class="buttons">
            <a href="/form_cardio" id="cardio">Cardio</a>
            <a href="/form_kracht" id="kracht">Kracht</a>
        </div>
    </div>


    <%- include('../partials/nav.ejs') %>
</main>


<%- include('../partials/footer.ejs') %>