<%- include('../partials/head.ejs') %>
<main class="training">
    <h2>Beweging</h2>
    <div>
        <article>
            <i class="fa solid fa-person-walking fa-xl"></i>
            <p>Jouw doel is om minimaal twee keer per week aan krachttraining te doen.</p>
        </article>
    </div>

    <div class="container">
       
        <section>
            <h3>Wekelijkse actieve minuten</h3>
        </section>
        <% let totalMin = cardioData + krachtData %>
        <% if(cardioData && krachtData) { %>
        <p><span id="total_min">
                <%= totalMin %>
            </span>/ <span id="total_goal">150</span> </p>
        <% } else { %>
        <p><span id="total_min">
                0
            </span>/<span id="total_goal">150</span></p>
        <% } %>
        <%- include('../partials/checkmark.ejs') %>
        
    </div>
    <div class="wrapper">
        <div class="container-s">
            <a href="/training_cardio">
            <section>
                <h3>Cardio</h3>
            </section>

            <%   if(cardioData) { %>
            <p><span><%= cardioData %>:00 </span> minuten</p>
            <% } else { %>
            <p><span>0:00 </span> minuten</p>
            <% } %>
            <%   if(cardioType) { %>
            <p id="type_training"><%= cardioType %></p>
            <% } %>
            </a>
        </div>

        <div class="container-s">
            <section>
                <h3>Kracht</h3>
            </section>
            <%   if(krachtData) { %>
            <p><span><%= krachtData %>:00 </span> minuten</p>
            <% } else { %>
            <p><span>0:00 </span> minuten</p>
            <% } %>

        </div>
        <div class="container-s">
            <section>
                <h3>Dagelijkse stappen</h3>
            </section>
            <p><span>4300</span>/10000</p>
        </div>
    </div>
    <button class="btn-secondary add-btn">Voeg gegevens toe</button>
    <div class="btn_wrapper">
        <div class="buttons">
            <a href="/form_cardio" id="cardio">Cardio</a>
            <a href="/form_kracht" id="kracht">Kracht</a>
        </div>
    </div>


    <%- include('../partials/nav.ejs') %>
</main>


<%- include('../partials/footer.ejs') %>