<%- include('../partials/head.ejs') %>
<main class="cardio_training">
    <div class="heading"> 
        <a href="/training"> <i class="fa-solid fa-chevron-left"></i> </a>
        <h2>cardio</h2>
    </div>
   
    <p>Een overzicht van alle activiteiten van deze week</p>
    <div class="container" id="cardio_container">
        <section>
            <h3>22-06-2022</h3>
        </section>
        <div>
            <%   if(minTraining) { %>
            <p><span><%= minTraining %>:00 </span> minuten</p>
            <% } else { %>
            <p><span>0:00 </span> minuten</p>
            <% } %>
            <%   if(trainingType) { %>
            <p id="type_training"><%= trainingType %></p>
            <% } %>
        </div>

    </div>


    <%- include('../partials/nav.ejs') %>
</main>


<%- include('../partials/footer.ejs') %>