<%- include('../partials/head.ejs') %>

<main class="voeding">
    <h2>Voeding</h2>
    <div>
        <article>
            <i class="fa-solid fa-carrot fa-xl"></i>
            <p>Jouw doel is om 200 gram groentes binnen te krijgen per dag.</p>
        </article>
    </div>
    <div class="wrapper">
        <div class="container-s">
            <section>

                <h3>Groente (g)</h3>
            </section>
            <%   if(groenteData) { %>
            <p><span class="groente_value"><%= groenteData %></span>/ <span class="groente_goal">200</span> </p>
            <% } else { %>
            <p><span class="groente_value">0</span>/<span class="groente_goal">200</span></p>
            <% } %>
            <%- include('../partials/checkmark.ejs') %>
        </div>

        <div class="container-s">
            <section>
                <h3>Eiwitten (g)</h3>
            </section>
            <%   if(eiwitData) { %>
            <p><span class="eiwit_value"><%= eiwitData %></span>/<span class="eiwit_goal">60</span></p>
            <% } else { %>
            <p><span class="eiwit_value">0</span>/<span class="eiwit_goal">60</span></p>
            <% } %>
            <%- include('../partials/checkmark.ejs') %>
        </div>
        <div class="container-s">
            <section>
                <h3>Dagelijkse kcal</h3>
            </section>
            <%   if(kcalData) { %>
            <p><span class="kcal_value"><%= kcalData %></span>/<span class="kcal_goal">2000</span></p>
            <% } else { %>
            <p><span class="kcal_value">0</span>/<span class="kcal_goal">2000</span></p>
            <% } %>
            <%- include('../partials/checkmark.ejs') %>
        </div>
    </div>
    <button class="btn-secondary add-btn">Voeg gegevens toe</button>
    <div class="btn_wrapper">
        <div class="buttons">
            <a href="/form_kcal" id="kcal">Calorieën</a>
            <a href="/form_eiwitten" id="eiwitten">Eiwitten</a>
            <a href="/form_groente" id="groente">Groente</a>
        </div>
    </div>

    <%- include('../partials/nav.ejs') %>
</main>


<%- include('../partials/footer.ejs') %>